<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Registration Form </title>
  <link rel="stylesheet" href="{% static 'css/reg_style.css' %}">
</head>
<body>
  <div class="container">
    <!-- Title section -->
    <div class="title">Registration</div>
    <div class="content">
      <!-- Registration form -->
      <form method="POST">
          {% csrf_token %}
        <div class="user-details">
          <!-- Input for First Name -->
          <div class="input-box">
            <span class="details">First Name</span>
            {{form.first_name}}
          </div>
            <!-- Input for Last Name -->
          <div class="input-box">
            <span class="details">Last Name</span>
            {{form.last_name}}
          </div>
          <!-- Input for Username -->
          <div class="input-box">
            <span class="details">Username</span>
            {{form.username}}
          </div>
          <!-- Input for Email -->
          <div class="input-box">
            <span class="details">Email</span>
            {{form.email}}
          </div>
          <!-- Input for Phone Number -->
          <div class="input-box">
            <span class="details">Phone Number</span>
            {{form.phone}}
          </div>
          <!-- Input for Password -->
          <div class="input-box">
            <span class="details">Password</span>
            {{form.password1}}
          </div>
          <!-- Input for Confirm Password -->
          <div class="input-box">
            <span class="details">Confirm Password</span>
            {{form.password2}}
          </div>
        </div>

        {{form.errors}}

        <!-- Submit button -->
        <div class="button">
          <input type="submit" value="Register">
        </div>
        <div class="login-link">
               Already have an account? <a href="{% url 'login' %}">Login</a>
            </div>
      </form>
    </div>
  </div>
</body>
</html>
